

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog website</h1>
    <p class = "display-5"> Here you can create your own blog</p>
    <h2 class = "display-5">But to work with the blogs list you have to register or login</h2>
   
</div>
